@import url("./font.css");
/* Reset */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
/* Root Variables */
:root {
  --color-primary: #7e22ce;
  --color-secondary: #e11d48;
  --color-text: #334155;
  --color-gray: #d1d5db;
  --color-light: #f0f8fb;
  --color-black: #0f172a;
  --color-white: #fff;
  --radius-sm: 6px;
  --radius-md: 8px;
  --radius-lg: 10px;
  --shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
/* Typography */
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color-text);
}
::placeholder {
  font-size: 1.4rem;
}
h1,
h2,
h3 {
  color: var(--color-black);
}
h1,
h2 {
  font-weight: 900;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
  font-weight: 700;
}
a {
  font-size: 1.4rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 2rem;
  }
  ::placeholder {
    font-size: 1.6rem;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 4.5rem;
  }
  h3 {
    font-size: 3rem;
  }
}
/* Controls */
.btn {
  cursor: pointer;
  outline: 0;
  border: 0;
  font-size: 1.6rem;
  font-weight: 600;
  white-space: nowrap;
  padding: 0.5rem 1.5rem;
  border-radius: var(--radius-md);
  color: var(--color-primary);
}
.btn--primary {
  background-color: var(--color-light);
  border: 2px solid var(--color-light);
}
.btn--secondary {
  background-color: var(--color-white);
  border: 2px solid var(--color-primary);
}
.btn--block {
  width: 100%;
}
.input {
  background-color: transparent;
  outline: 0;
  border: 0;
  padding: 0.7rem 1rem;
  border-bottom: 2px solid var(--color-gray);
}
label {
  display: block;
  margin-bottom: 1rem;
}
.badge {
  background-color: var(--color-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 1rem;
  color: var(--color-white);
  border-radius: 100%;
  font-size: 1.4rem;
}
@media screen and (min-width: 768px) {
  .btn {
    font-size: 1.8rem;
  }
  .badge {
    width: 20px;
    height: 20px;
    padding: 1.2rem;
    font-size: 1.6rem;
  }
}
/* Container and Block */
.block {
  padding: 1.5rem 2.5rem;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
/* Hidden */
.hidden {
  display: none;
}
/* Header */
.main-header {
  background-color: var(--color-light);
}
.main-header > .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav__icon > .bar {
  background-color: var(--color-primary);
  width: 2.5rem;
  height: 0.4rem;
  margin-bottom: 2px;
}
.header__cart {
  cursor: pointer;
  display: flex;
}
.header__cart .number {
  margin-left: -1rem;
  margin-top: -1rem;
  z-index: 2;
}
.fa-cart-plus {
  color: var(--color-primary);
  font-size: 3rem;
}
/* carts */
.main {
  padding: 8rem 0;
}
.carts {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  column-gap: 5rem;
  row-gap: 8rem;
}
.cart {
  max-width: 55rem;
  border-radius: var(--radius-md);
  overflow: hidden;
  box-shadow: var(--shadow);
}
.cart__image > img {
  width: 100%;
  height: auto;
  aspect-ratio: 16/12;
  object-fit: cover;
}
.cart__intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 900;
}
.cart__info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.cart__info button {
  align-self: center;
}
@media screen and (min-width: 768px) {
  .carts {
    grid-template-columns: repeat(2, 1fr);
  }
  .cart__info button {
    align-self: stretch;
  }
}
@media screen and (min-width: 1024px) {
  .carts {
    grid-template-columns: repeat(3, 1fr);
  }
}
